.container {
  width: 100%;
  margin: 0 auto;
}

.default {
  max-width: 80rem;
}

.small {
  max-width: 70rem;
}

/* Add custom padding for small screens and tablets */
.smallPadding {
  padding: 0rem 1rem 0rem 1rem;
}
