.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  color: brand.0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #8e183a;
}

.heading_nav {
  color: #f3f3f3;
  font-size: 2px;
  text-align: center;
  display: block; /* Ensure the heading is always displayed */
}

/* Updated media query to max-width: 768px */
@media screen and (max-width: 768px) {
  .header {
    padding: 2.6rem 2rem 2.6rem 2rem; /* Adjust the padding on mobile */
  }

  /* Hide the heading on mobile */
  .heading_nav {
    display: none;
  }

  /* Show the nav_menu and adjust its styles on mobile */
  .nav_menu {
    display: none !important;
  }

  /* Remove the logo margin on mobile */
  .header .logo {
    margin: 0;
  }

  /* Hide the connect links on mobile */
  .header .connect {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .heading_nav {
    display: none;
  }
}

/* Original media query: min-width: 768px */
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 4rem 10rem 4rem 8rem;
  }

  .header .logo {
    margin-left: 0rem;
  }

  .header .connect {
    justify-content: flex-end;
  }

  .header .connect a {
    margin-left: 3rem;
  }
}

.logo {
  width: 5rem;
  cursor: pointer;
}
