.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 1.2rem;
}

.footer .copyright,
.footer .social-buttons,
.footer .legal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3rem 2rem;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
  }

  .footer .copyright {
    justify-content: flex-start;
    padding: 0.3rem 7rem;
  }

  .footer .social-buttons {
    margin: 0;
  }

  .footer .legal {
    justify-content: flex-end;
    padding: 0.3rem 7rem;
  }
}
